<footer class="footer__body">
  <div class="footer__head">
    <div class="main__title">Наші клієнти та проекти</div>
    <button class="footer__button">
      <a href="" class="footer__button-text">Усі проекти</a>
    </button>
  </div>
  <div class="footer__content">
    <div class="footer__content-box1">
      <img src="../../img/footer-img.png" alt="" class="footer__content-img">
    </div>
    <div class="footer__content-box2">
      <p class="footer__content-img">
        <img src="../../img/footer-img1.png" alt="">
      </p>
      <p class="footer__content-img">
        <img src="../../img/footer-img2.png" alt="">
      </p>
      <p class="footer__content-text">
        Роботи з монтажуприфундаментного дренажуза адресою:Україна, Киів, пр. Перемоги, б. 87
      </p>
    </div>
    <div class="footer__content-box3">
      <img src="../../img/footer-img2.png" alt="" class="footer__content-img">
    </div>
    <div class="footer__content-box4">
      <p class="footer__content-img">
        <img src="../../img/footer-img1.png" alt="">
      </p>
      <p class="footer__content-img">
        <img src="../../img/footer-img.png" alt="">
      </p>
    </div>
    <div class="footer__content-box5">
      <p class="footer__content-img">
        <img src="../../img/footer-img2.png" alt="">
      </p>
    </div>
    <div class="footer__content-box6">
      <p class="footer__content-img">
        <img src="../../img/footer-img.png" alt="">
      </p>
    </div>
  </div>
</footer>