<header class="header__body">
  <a href="#" class="header__logo">
    <img src="../../img/header.svg" alt="" class="header__img">
  </a>
  <button class="header__button">
    <img src="../../img/header-phone.svg" alt="" class="header__button-img">
    <p href="" class="header__button-text">Зворотній зв’язок</p>
  </button>
</header>