<main class="main__body">
  <h1 class="main__title"> Зовнішні теплові мережі </h1>
  <p class="main__undertitel">Будівельна компанія "Інфраструктура" здійснює повний перелік робіт з монтажу зовнішніх
    теплових мереж та індивідуальних теплових пунктів на житлових та промислових об'єктах:</p>

  <div class="main__content">
    <div class="main__content-box1">Земляні роботи</div>
    <div class="main__content-box2">Підземне прокладання трубопроводів та введення в будівлю</div>
    <div class="main__content-box3">Влаштування каналів</div>
    <div class="main__content-box4">Влаштування нерухомих опор поза камерами</div>
    <div class="main__content-box5">Пристрій з/б колодязів</div>
  </div>

  <div class="main__title">Власний парк будівельної техніки:</div>

  <div class="main__nextcontent">
    <div class="main__nextcontent-box1">Мулосмоктальна машина <p class="main__nextcontent-title">КАМАЗ 65115
        КО-530-01
      </p>
    </div>
    <div class="main__nextcontent-box2">Каналопромивальна машина <p class="main__nextcontent-title">КАМАЗ 3572
        КО-564-20</p>
    </div>
    <div class="main__nextcontent-box3">Екскаватор-навантажувач</div>
    <div class="main__nextcontent-box4">Навантажувач</div>
    <div class="main__nextcontent-box5">Екскаватор</div>
    <div class="main__nextcontent-box6">КАМАЗ бортовий з КМУ</div>
    <div class="main__nextcontent-box7">Каток</div>
  </div>
</main>