* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ballet', sans-serif;
  color: #FFF;;
  background-color: #171717;
}

.body__container{
  margin: 40px 230px 0  230px;
}

.header__body{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.header__img{
  width: 355px;
  height: 80px;
}

.header__button{
  display: flex;
  width: 210px;
  height: 50px; 
  border: 1px solid #E4B564;
  background-color: #171717;
  padding: 10px 10px 10px 25px;
  text-align: center;
}

.header__button-text{
  color: #E4B564;
  font-family: 'Ballet', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
}

.header__button-img{
  display: flex;
  margin-right: 8px;
  margin-top: 4px;
  width: 16px;
}

.main__title{
  font-family: 'Ballet', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
    margin: 0;
}

.main__undertitel{
  font-family: 'Ballet', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  width: 1100px;
  margin: 45px 0 0 0;
}

.main__content{
  margin: 40px 0 160px 0;
  display: grid;
  grid-template-columns: repeat(6, 15fr);
  grid-auto-rows: 470px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.main__content-box1, .main__content-box2, .main__content-box3, .main__content-box4, .main__content-box5{
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.main__content-box1{
  padding: 220px 0;
  background-color: #634F2C;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__content-box2{
  padding: 220px 40px;
  background-color: #B4A385;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__content-box3{
  padding: 220px 0;
  background-color: #E4B564;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__content-box4{
  padding: 220px 0;
  background-color: #635A4A;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main__content-box5{
  padding: 220px 0;
  background-color: #635A4A;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main__nextcontent{
  margin: 95px 0 190px 0;
  display: grid;
  grid-template-columns: repeat(6, 15fr);
  grid-template-rows: 255px 50px 140px 100px 280px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.main__nextcontent-box1, .main__nextcontent-box2, .main__nextcontent-box3, .main__nextcontent-box4, .main__nextcontent-box5, .main__nextcontent-box6, .main__nextcontent-box7{
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding: 44px 0 0 52px;
}  

.main__nextcontent-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
}

.main__nextcontent-box1{
  background-color: #0E0E0E;
  grid-column: 1/3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main__nextcontent-box2{
  background-color: #242424;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.main__nextcontent-box3{
  background-color: #1F1F1F;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__nextcontent-box4{
  background-color: #1F1F1F;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.main__nextcontent-box5{
  background-color: #E4B564;
  color: #000;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.main__nextcontent-box6{
  background-color: #0E0E0E;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.main__nextcontent-box7{
  font-weight: 700;
  background-color: #0A0909;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.footer__body{
  background-color: #0E0E0E;  
  margin-bottom:240px;
  padding: 170px 230px 0 230px;
}

.footer__head{
  display: flex;
  justify-content: space-between;
}

.footer__button{
  width: 180px;
  height: 50px; 
  border: 1px solid #E4B564;
  background-color: #0E0E0E;
  padding: 10px 40px;
  text-align: center;
}

.footer__button-text{
  color: #E4B564;
  font-family: 'Ballet', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.footer__content{
  margin: 95px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 15fr);
  grid-template-rows: repeat(2, 390px);
  text-align: center;
}

.footer__content-img{
  margin: 0;
  padding-bottom: 8px;
}

.footer__content-text{
  margin: 0;
}

.footer__content-box1{
  background-color: #634F2C;
  grid-column: 1;
  grid-row: 1;
  padding: 170px 0;
}

.footer__content-box2{
  padding: 60px 40px;
  background-color: #E8D2AB;
  grid-column: 2;
  grid-row: 1;
}

.footer__content-box3{
  padding: 170px 0 ;
  background-color: #E4B564;
  grid-column: 3;
  grid-row: 1;
}

.footer__content-box4{
  background-color: #635A4A;
  grid-column: 1;
  grid-row: 2;
  padding: 112px 0;
}

.footer__content-box5{
  padding: 60px 40px;
  background-color: #B08C4D;
  grid-column: 2;
  grid-row: 2;
  padding: 170px 0;
}

.footer__content-box6{
  padding: 170px 0 ;
  background-color: #634F2C;
  grid-column: 3;
  grid-row: 2;
}